
@model List<KidKinder.Entities.BookASeat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5>Rezervasyon Listesi</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Email</th>
                        <th>Sınıf</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.ClassRoomId</td>
                            <td><a href="/BookASeat/RemoveBookASeat/@item.BookASeatId" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/BookASeat/UpdateBookASeat/@item.BookASeatId" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/BookASeat/CreateBookASeat/" class="btn btn-outline-primary">Rezervasyon Girişi</a>
        </div>
    </div>
</div>


