
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    @Html.Action("TeacherHeaderPartial", "Teacher")

    @Html.Action("TeacherPartial", "Teacher")

</body>
</html>